.main-container{
  display: flex;
  flex-direction: column;
  
}

div{
  padding: 10px;
}

h1{
  text-align: center;
  font-family: sans-serif;
  font-size: 50px;
}

.container {
  display: flex;
  margin: auto;
}

/* W3 Schools: https://www.w3schools.com/cssref/pr_border-collapse.asp */
/* Used this code to create one border for the table */

/* W3 Schools: https://www.w3schools.com/howto/howto_css_table_center.asp */
/* Used this code to center the table */
.table{
    border: 6px solid black;/* creates a black border around the table */
    border-collapse:collapse; /*this line of code collapses the separated borders into one */
    margin-left:auto;
    margin-right:auto;
}

/* BruBaker: "Responsive Table Cells with Equal Height and Width - CSS Only": https://brubakerservices.org/responsive-table-cells-equal-height-width-css/ */
/* Used the code above to create a square grid */
td{
    border: 1px solid black; /*create border around the cells*/
    padding:0;
    width: 3vw;
    height: 3vw;
}  

td:hover{
  background-color: yellow;
}

/* this code gets rid fo the automatic styling of the input boxes and has the input box span the width of the box */
input {
  display:block;
  width:100%;
  height: 100%;
  border-style: none;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

/* This code gets rid of the focus/blue border that appears when an input is clicked */
input:focus {
  outline: none /* Removes the border when the input is clicked */
}

input:hover{
  background-color: yellow;
}

#input-1,#input-2,#input-3,#input-10,#input-11,#input-12,#input-19,#input-20,#input-21{
  background-color: lightgray;
}

#input-1:hover,#input-2:hover,#input-3:hover,#input-10:hover,#input-11:hover,#input-12:hover,#input-19:hover,#input-20:hover,#input-21:hover{
  background-color: yellow;
}

#input-7,#input-8,#input-9,#input-16,#input-17,#input-18,#input-25,#input-26,#input-27{
  background-color: lightgray;
}

#input-7:hover,#input-8:hover,#input-9:hover,#input-16:hover,#input-17:hover,#input-18:hover,#input-25:hover,#input-26:hover,#input-27:hover{
  background-color: yellow;
}

#input-31,#input-32,#input-33,#input-40,#input-41,#input-42,#input-49,#input-50,#input-51{
  background-color: lightgray;
}

#input-31:hover,#input-32:hover,#input-33:hover,#input-40:hover,#input-41:hover,#input-42:hover,#input-49:hover,#input-50:hover,#input-51:hover{
  background-color: yellow;
}

#input-55,#input-56,#input-57,#input-64,#input-65,#input-66,#input-73,#input-74,#input-75{
  background-color: lightgray;
}

#input-55:hover,#input-56:hover,#input-57:hover,#input-64:hover,#input-65:hover,#input-66:hover,#input-73:hover,#input-74:hover,#input-75:hover{
  background-color: yellow;
}

#input-61,#input-62,#input-63,#input-70,#input-71,#input-72,#input-79,#input-80,#input-81{
  background-color: lightgray;
}

#input-61:hover,#input-62:hover,#input-63:hover,#input-70:hover,#input-71:hover,#input-72:hover,#input-79:hover,#input-80:hover,#input-81:hover{
  background-color: yellow;
}



.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  /* background-color: green; */
}

button{
  height: 50px;
  width: 50px;
}

.buttons-1{
  display: flex;
  justify-content: space-around;
  /* background-color: yellow; */
}

.buttons-2{
  display: flex;
  justify-content: space-around;
}

.buttons-3{
  display: flex;
  justify-content: space-around;
}

.submit{
  display: flex;
  /* width: 100%; */
  justify-content: space-around;
  /* background-color: red; */
  /* justify-content: space-around; */
}

#submit-button{
  width: 200px;
  /* margin-left: auto;
  margin-right: auto; */
}




