
/* OVERAL CODE */
div{
  padding: 10px;
}

/* TITLE FORMATTING */
h1{
  text-align: center;
  font-family: sans-serif;
  font-size: 50px;
}

/* MAIN CONTAINER CODE */
.container1 {
  display: flex;
  justify-content: center;
  margin: auto;
}

/* TABLE CODE */

/* W3 Schools: https://www.w3schools.com/cssref/pr_border-collapse.asp */
/* Used this code to create one border for the table */
/* W3 Schools: https://www.w3schools.com/howto/howto_css_table_center.asp */
/* Used this code to center the table */
.table{
    border: 6px solid black;
    border-collapse:collapse; 
    margin-left:auto;
    margin-right:auto;
    padding: 10px;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 10px;
}

#easy-table{
  display: block;
}

#medium-table{
  display: none;
}

#hard-table{
  display: none;
}

/* BruBaker: "Responsive Table Cells with Equal Height and Width - CSS Only": https://brubakerservices.org/responsive-table-cells-equal-height-width-css/ */
/* Used the code above to create a square grid */
td{
    border: 1px solid black; 
    padding:0;
    width: 3vw;
    height: 3vw;
}  

/* INPUT CODE */

/* this code gets rid fo the automatic styling of the input boxes and has the input box span the width of the box */
input {
  display:block;
  width:100%;
  height: 100%;
  border-style: none;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.readonly{
  font-size: 30px;
  font-weight: 700;
}

/* This code gets rid of the focus/blue border that appears when an input is clicked */
input:focus {
  outline: none ;/* Removes the border when the input is clicked */
  background-color: lightgray;
}

input:hover{
  background-color: lightgray;
}

/* Works for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Works for Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* SUDOKU BOARD COLORING - INCLUDING HOVER AND CLICK BACKGROUND COLOR CHANGES */
.box1,.box2,.box3,.box10,.box11,.box12,.box19,.box20,.box21{
  background-color: #F2D4D7;
}

.box7,.box8,.box9,.box16,.box17,.box18,.box25,.box26,.box27{
  background-color: #F2D4D7;
}

.box31,.box32,.box33,.box40,.box41,.box42,.box49,.box50,.box51{
  background-color: #F2D4D7;
}

.box55,.box56,.box57,.box64,.box65,.box66,.box73,.box74,.box75{
  background-color: #F2D4D7;
}

.box61,.box62,.box63,.box70,.box71,.box72,.box79,.box80,.box81{
  background-color: #F2D4D7;
}

/* LEVELS CONTAINER AND BUTTONS */

.levels{
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.levelButton{
  width: 90px;
  height: 35px;
  border-radius: 3px;
  border-color: gray;
  background-color: #f5f5f5;
  box-shadow: 10px;
  font-weight: bold;
}

#easy-button{
  background-color: #F2D4D7;
}

/* CONTAINER CODE -contains rules and buttons  */
.container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}

/* code to adjust spacing so it is inline with the sudoku board */
.spacing{
  height: 25px;
}

/* RULES FORMATTING CODE */
.ruletitle{
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.rulecontainer{
  display: flex;
  align-content: center;
  width: 180px;
}

.rules{
  padding: 20px;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
  align-items: center;
  align-content: center;
  justify-content: center;
}

/* SUBMIT BUTTON CODE */
.submit{
  display: flex;
  justify-content: space-around;
}

.submit-button{
  width: 186px;
  height: 50px;
  border-radius: 3px;
  border-color: gray;
  background-color: #f5f5f5;
  box-shadow: 10px;
  font-weight: bold;

}

/* CLEAR BUTTON CODE */
.clear{
  display: flex;
  justify-content: space-around;
}

#clear-board{
  width: 186px;
  height: 22px;
  border-radius: 3px;
  border-color: gray;
  background-color: #f5f5f5;
  box-shadow: 10px;
  font-weight: bold;
}

/* MODAL CODE */

/* W3 Schools: https://www.w3schools.com/howto/howto_css_modals.asp */
/* Used some of this code as inspiration/a baseline in my css */

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(242, 212, 215,.5); 
}

.modal-content {
  background-color: white;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  width: 400px;
  max-width: 80%; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
}

.close-button {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

/* MEDIA QUERY SCREEN ADJUSTMENTS */

@media (max-width: 768px){

  .container1 {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .container2{
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
  }

  td{
    width: 2vw;
    height: 2vw;
  }
}
